<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détection de Fake News</title>
    <!-- Inclure le CSS -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Détection de Fake News</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <button type="submit">Analyser</button>
    </form>
    <!-- Inclure le JavaScript -->
    <script src="/static/script.js"></script>
</body>
</html>
